:root {
  --blue: #039be5;
  --red: #ea736d;
  --yellow: #fbdc4d;
  --btnBg: #fbdc4d;
  --line: #fbdc4d;
  --text: #161616;
  --fr: 'M PLUS 1p';
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: var(--text);
  font-family: var(--fr);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
}
@media (min-width: 1200px) {
  html,
  body {
    font-size: 24px;
  }
}
a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
  border: 0px;
  padding: 0;
  background-color: transparent;
  font-family: var(--fr);
}
.noscroll {
  overflow: hidden;
}
#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
  display: none;
}
#overlay.active {
  opacity: 0.5;
  display: block;
}
.container {
  width: 100%;
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0px;
  }
}
.line-bottom {
  position: relative;
  width: fit-content;
  z-index: 2;
}
.line-bottom::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: var(--line);
  z-index: -1;
}
.animate-border {
  position: relative;
  width: fit-content;
}
.animate-border::before,
.animate-border::after {
  content: "";
  position: absolute;
  bottom: 5px;
  height: 4px;
  background-color: var(--line);
  width: 0%;
  transition: 0.5s;
  z-index: -1;
}
.animate-border::before {
  left: 50%;
}
.animate-border::after {
  right: 50%;
}
.animate-border:hover::before,
.animate-border:hover::after {
  width: 55%;
}
/*.animate-border-2 {
    position: relative;
    width: fit-content;
    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 5px;
        height: 4px;
        background-color: var(--red);
        width: 0%;
        transition: 0.5s;
        z-index: -1;
    }
    &::before {
        left: 50%;
    }
    &::after {
        right: 50%;
    }
}

.animate-border-2:hover::before,
.animate-border-2:hover::after {
    width: 55%;
}*/
.fa-telegram-plane {
  transition: 0.3s;
}
.fa-telegram-plane:hover {
  color: #0077b5;
}
.fa-telegram-plane:active {
  color: #0077b5;
}
.fa-vk {
  transition: 0.3s;
}
.fa-vk:hover {
  color: #45668e;
}
.fa-vk:active {
  color: #45668e;
}
.fa-github {
  transition: 0.3s;
}
.fa-github:hover {
  color: #6cc644;
}
.fa-github:active {
  color: #6cc644;
}
#page-nav {
  position: fixed;
  right: 50px;
  top: 50%;
  z-index: 100;
}
#page-nav li {
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: 0.5s;
}
#page-nav li a {
  display: block;
  height: 100%;
}
#page-nav li.active {
  background-color: green;
}
.fa-angle-double-up {
  color: #8b8b8b;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 40px;
  width: 30px;
  height: 30px;
}
.fa-angle-double-up:hover {
  opacity: 0.8;
}
.header {
  max-width: 320px;
  padding-top: 70px;
  padding-bottom: 235px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .header {
    max-width: 1600px;
    background-image: url(../img/header/line-bg.jpg);
    background-size: auto;
    background-position: 0 0;
    background-repeat: repeat-y;
  }
}
.fix-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  max-width: 100%;
}
.fix-menu.active {
  background-color: #fff;
  box-shadow: 0 -5px 25px var(--yellow);
}
.header-top {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .header-top {
    max-width: 1430px;
  }
}
.logo {
  font-size: 42px;
  font-weight: 900;
  color: #000000;
  transition: 0.3s;
}
.logo:hover {
  color: #333333;
}
.header-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  max-width: 360px;
  background-color: #fff;
  transform: translateX(100%);
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .header-menu {
    display: block;
    position: relative;
    height: auto;
    width: auto;
    max-width: unset;
    background-color: transparent;
    transform: translateX(0%);
  }
}
.header-menu.active {
  transform: translateX(0%);
}
.header-menu_item {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  transition: 0.3s;
}
.header-menu_item:hover {
  color: #333333;
}
@media (min-width: 1200px) {
  .header-menu_item {
    display: inline-block;
  }
  .header-menu_item + .header-menu_item {
    margin-left: 75px;
  }
}
.header-social {
  display: none;
}
@media (min-width: 1200px) {
  .header-social {
    display: flex;
    align-items: center;
  }
}
.mobile-contacts {
  display: block;
}
@media (min-width: 1200px) {
  .mobile-contacts {
    display: none;
  }
}
.mobile-contacts .header-social {
  display: block;
}
.header-social_item {
  padding-top: 5px;
}
@media (min-width: 1200px) {
  .header-social_item {
    display: inline-block;
    width: 30px;
    color: black;
  }
  .header-social_item + .header-social_item {
    margin-left: 19px;
  }
}
.fa-vk {
  padding-top: 6px;
  width: 34px;
}
.toggle-menu {
  position: relative;
  width: 40px;
  height: 30px;
  display: flex;
  cursor: pointer;
  z-index: 15;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu span {
  width: 100%;
  height: 4px;
  background-color: var(--text);
  margin: auto;
  transition: 0.3sec;
}
.toggle-menu span::after,
.toggle-menu span::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--text);
  left: 0;
  transition: transform 0.3s ease-in, top 0.2s linear 0.2s;
}
.toggle-menu span::after {
  top: -3px;
}
.toggle-menu span::before {
  bottom: -3px;
}
.toggle-menu.active span {
  position: relative;
  background-color: transparent;
}
.toggle-menu.active span::after {
  top: 0px;
  transform: rotate(45deg);
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.toggle-menu.active span::before {
  bottom: 0px;
  transform: rotate(-45deg);
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.header_title {
  margin-top: 150px;
}
.header_indroduce {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .header_indroduce {
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }
}
.foto {
  margin-bottom: 55px;
  width: 290px;
  height: 290px;
  background-image: url(../img/header/foto.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: -15px -15px 30px var(--yellow);
  z-index: 1;
}
@media (min-width: 1200px) {
  .foto {
    margin-bottom: 0;
    width: 462px;
    height: 510px;
  }
}
.header_introduce_content {
  width: 575px;
}
.name {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 32px;
}
@media (min-width: 1200px) {
  .name {
    font-size: 90px;
    margin-bottom: 23px;
  }
}
.name .line-bottom::after {
  bottom: 19px;
  height: 18px;
}
.introduce-text {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
  width: 290px;
}
@media (min-width: 1200px) {
  .introduce-text {
    font-size: 24px;
    width: 500px;
  }
}
.button-row {
  display: none;
}
.button-row .button-1 {
  margin-right: 20px;
}
@media (min-width: 1200px) {
  .button-row {
    display: flex;
  }
}
.button-1 {
  display: none;
  border-radius: 50px;
  background-color: var(--yellow);
  font-size: 22px;
  font-weight: 700;
  line-height: 2.9;
  height: 64px;
  width: 254px;
  color: var(--text);
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;
}
.button-1:hover {
  background-color: #ffd200;
}
.button-1:active {
  background-color: #e1bc10;
}
@media (min-width: 1200px) {
  .button-1 {
    display: block;
  }
}
.button-2 {
  display: block;
  width: 185px;
  border-radius: 50px;
  background-color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 2.54;
  height: 64px;
  text-align: center;
  border: 4px solid #464646;
  color: #464646;
  transition: 0.3s;
  z-index: 5;
}
.button-2:hover {
  border: 4px solid #797979;
  color: #797979;
}
.button-2:active {
  border: 4px solid #181818;
  color: #181818;
}
.block {
  position: absolute;
  background: -moz-linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background: -webkit-linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background: -ms-linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  opacity: 0.502;
  right: 0px;
  top: 450px;
  width: 474px;
  height: 410px;
  display: none;
}
@media (min-width: 1200px) {
  .block {
    display: block;
  }
}
.header_img-wrapper {
  margin-bottom: 74px;
  transform: scale(1.8);
  margin-top: 43px;
}
@media (min-width: 425px) {
  .header_img-wrapper {
    transform: scale(1.5);
  }
}
@media (min-width: 576px) {
  .header_img-wrapper {
    transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .header_img-wrapper {
    transform: scale(1);
  }
}
.header_img {
  margin-top: -46px;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .header_img {
    margin-top: -130px;
    margin-bottom: 0;
  }
}
.skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .skill {
    flex-direction: row;
  }
}
.skill_content {
  margin-right: 0px;
}
@media (min-width: 1200px) {
  .skill_content {
    margin-right: 160px;
  }
}
.header-2 {
  margin-bottom: 28px;
  font-size: 30px;
  font-weight: 800;
}
@media (min-width: 1200px) {
  .header-2 {
    margin-bottom: 45px;
    font-size: 40px;
  }
}
.skill_content_list {
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  .skill_content_list {
    font-size: 24px;
  }
}
.skill_content_item {
  margin-bottom: 18px;
}
@media (min-width: 1200px) {
  .skill_content_item {
    margin-bottom: 0;
  }
}
.skill_content_item::before {
  content: "\2014";
}
.social-icon-block {
  display: flex;
}
.social-icon-block * {
  margin-right: 30px;
}
.social-icon-block *:last-child {
  margin-right: 0;
}
.social-icon_githab {
  width: 45px;
  height: 45px;
}
.social-icon_telegram {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #fff;
  background-color: #039be5;
  transition: 0.3s;
}
.social-icon_telegram:hover {
  background-color: #45aaee;
}
.social-icon_telegram:active {
  background-color: #127db3;
}
.social-icon_telegram svg {
  margin-top: 9px;
  margin-left: 9px;
  height: 30px;
  display: block;
}
.social-icon_vk {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #4d76a1;
  color: #fff;
  transition: 0.3s;
}
.social-icon_vk:hover {
  background-color: #548bdd;
}
.social-icon_vk:active {
  background-color: #3864c2;
}
.social-icon_vk svg {
  margin-top: 8px;
  margin-left: 6px;
  height: 30px;
  display: block;
}
.social-icon_facebook {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #3b5998;
  color: #fff;
  transition: 0.3s;
}
.social-icon_facebook:hover {
  background-color: #5594cf;
}
.social-icon_facebook:active {
  background-color: #244283;
}
.social-icon_facebook svg {
  margin-top: 8px;
  margin-left: 12px;
  height: 30px;
  display: block;
}
.mail {
  display: block;
  margin-top: 25px;
  color: #000000;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s;
}
.mail:hover {
  color: #039be5;
  text-decoration: underline;
}
.mail:active {
  color: #ea655f;
  text-decoration: underline;
}
.portfolio {
  padding-top: 110px;
  padding-bottom: 120px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f4f8f9;
}
.project-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 70px;
}
.project-card {
  max-width: 550px;
  margin-bottom: 70px;
}
.project-card__poster {
  position: relative;
  display: block;
  margin-bottom: 30px;
  margin-right: 30px;
  overflow: hidden;
}
.project-card__poster:last-child {
  margin-right: 0;
}
.project-card__poster::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--yellow);
  opacity: 0.5;
  transform: translateX(100%);
  transition: 0.5s;
  z-index: 5;
}
.project-card__poster img {
  transition: 0.5s;
}
.project-card__poster:hover img {
  transform: scale(1.1);
}
.project-card__poster button {
  border-radius: 50px;
  background-color: #fff;
  font-size: 22px;
  font-weight: 800;
  line-height: 2.9;
  height: 64px;
  width: 254px;
  color: var(--red);
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-500%, -50%);
  z-index: 5;
}
.project-card__poster button:hover {
  background-color: #ea736d;
  color: #fff;
}
.project-card__poster button:active {
  background-color: #d4423b;
  color: #fff;
}
.project-card__poster:hover::before {
  transform: translateX(0%);
}
.project-card__poster:hover button {
  transform: translate(-50%, -50%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.header-3 {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 60px;
}
.portfolio .line-bottom::after {
  bottom: 16px;
  height: 14px;
}
.portfolio__filter {
  display: flex;
  margin-bottom: 57px;
}
.portfolio__filter-title {
  display: block;
  margin-right: 65px;
  font-size: 26px;
  font-weight: 800;
  color: #beccd1;
  transition: 0.3s;
}
.portfolio__filter-title:last-child {
  margin-right: 0;
}
.portfolio__filter-title:active {
  color: #ed574f;
}
.portfolio__filter-title:hover {
  color: #ed574f;
}
.project-card_header {
  font-size: 32px;
  font-weight: 700;
  color: var(--text);
  transition: 0.3s;
}
.project-card_header:hover {
  color: var(--red);
  text-decoration: underline;
}
.project-card_header:active {
  color: var(--red);
  text-decoration: underline;
}
.project-card_content {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 400;
}
.project-card-small {
  position: relative;
  display: block;
  max-width: 360px;
}
.project-card_header--small {
  font-size: 26px;
  font-weight: 700;
  color: var(--text);
  transition: 0.3s;
}
.project-card_header--small:hover {
  color: var(--red);
  text-decoration: underline;
}
.project-card_header--small:active {
  color: var(--red);
  text-decoration: underline;
}
.timeline {
  padding-top: 130px;
  padding-bottom: 145px;
}
@media (min-width: 1200px) {
  .timeline {
    max-width: 1600px;
    background-image: url(../img/contacts/line-bg-2.jpg);
    background-size: auto;
    background-position: 0 0;
    background-repeat: repeat-y;
  }
}
.timeline .header-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 145px;
}
.timeline .line-bottom::after {
  bottom: 16px;
  height: 14px;
}
.timeline-line {
  width: 1105px;
  margin-right: auto;
}
.timeline-item {
  position: relative;
  min-height: 160px;
  padding-left: 100px;
  margin-bottom: 40px;
}
.timeline-item::after {
  content: "";
  width: 3px;
  background-color: #e1eef4;
  position: absolute;
  top: 95px;
  bottom: 0;
  left: 37px;
}
.timeline-item:last-child::after {
  display: none;
}
@media (min-width: 768px) {
  .timeline-item {
    width: 50%;
  }
  .timeline-item:nth-child(2n) {
    margin-left: auto;
  }
  .timeline-item:nth-child(2n + 1) {
    text-align: right;
    padding-left: 0;
    padding-right: 100px;
  }
  .timeline-item:first-child::before {
    content: "";
    width: 3px;
    background-color: #e1eef4;
    position: absolute;
    right: 0;
    top: -80px;
    height: 60px;
  }
}
@media (min-width: 768px) {
  .timeline-item:nth-child(2n+1) .heading {
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .timeline-item:nth-child(2n) .timeline-icon {
    left: -37px;
  }
}
@media (min-width: 768px) {
  .timeline-item:nth-child(2n)::after {
    left: 0;
  }
}
@media (min-width: 768px) {
  .timeline-item:nth-child(2n + 1) .timeline-icon {
    left: auto;
    right: -37px;
  }
}
@media (min-width: 768px) {
  .timeline-item:nth-child(2n + 1)::after {
    left: auto;
    right: 0;
  }
}
.timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  height: 74px;
  border-radius: 28px;
  background-color: #ffffff;
  box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline-icon svg {
  width: 40px;
  height: 40px;
  position: absolute;
}
.heading {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 800;
  position: relative;
}
.timeline-text .line-bottom::after {
  height: 8px;
  bottom: 6px;
}
.timeline-text {
  width: 425px;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
}
.timeline-text-time {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 700;
}
.icon-1 {
  fill: #ffcf8f;
}
.icon-2 {
  fill: #ff5b5b;
}
.icon-3 {
  fill: #ac74ee;
}
.icon-4 {
  fill: #51e5cb;
}
.icon-5 {
  fill: #7cc0ff;
}
.contacts {
  background-color: #f4f8f9;
  width: 100%;
}
.contacts .line-bottom {
  margin-left: auto;
  margin-right: auto;
}
.contacts .line-bottom::after {
  bottom: 16px;
  height: 14px;
}
.form-item {
  margin-bottom: 30px;
  position: relative;
}
.form-item .button-1 {
  height: 67px;
  width: 200px;
}
.form-field {
  width: 100%;
  height: 50px;
  border: 0px;
  border-bottom: 1px solid grey;
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
}
textarea.form-field {
  height: 100px;
  resize: none;
}
.fake-placeholder {
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 10px;
  font-size: 20px;
  font-weight: 700;
  transition: 0.5s;
}
.fake-placeholder.active {
  color: #ed9626;
  font-size: 16px;
  font-weight: 700;
  top: -20px;
}
.error {
  font-size: 14px;
  color: var(--red);
}
.contacts-block {
  display: flex;
  justify-content: space-between;
}
.info {
  width: 555px;
}
.info__text {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
}
.info__contacts-head {
  font-size: 20px;
  font-weight: 700;
}
.info__contacts-content {
  margin-left: 94px;
  font-size: 20px;
  font-weight: 300;
}
.info__contacts-content li {
  line-height: 1.5;
}
.contacts__form {
  margin-bottom: 130px;
  padding: 60px 45px;
  width: 510px;
  box-shadow: -15px -15px 30px #dfecf3;
}
.info__contacts {
  margin-bottom: 44px;
  display: flex;
}
.info__contacts-icons {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.footer {
  font-family: M PLUS 1p;
  padding-top: 28px;
  padding-bottom: 38px;
  background-color: #333333;
}
.footer__info-heading {
  margin-bottom: 20px;
  color: #a7a7a7;
  font-size: 18px;
  font-weight: 400;
}
.footer__info-content {
  color: #aaaaaa;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3.2px;
}
