.contacts {
    padding-top: 55px;
    padding-bottom: 0;
    background-color: #f4f8f9;
    width: 100%;

    @media(min-width:1200px) {
        padding-bottom: 60px;
    }
}

.contacts .line-bottom {
    margin-left: auto;
    margin-right: auto;

    &::after {
        bottom: 16px;
        height: 14px;
    }
  }

.form-item {
      margin-bottom: 30px;
      position: relative;
}

.form-item .button-1 {
    display: block;
    height: 50px;
    width: 261px;
    border: none;
    line-height: 0;
    margin-left: 15px;
    margin-right: 15px;

    @media(min-width:1200px) {
        width: 200px;
        height: 67px;
        margin: 0;
        line-height: 2.9;
    }
}

.form-field {
    width: 100%;
    height: 50px;
    border: 0px;
    border-bottom: 1px solid grey;
    font-size: 18px;
    padding-left: 12px;
    padding-right: 12px;
    outline: none;

}

textarea.form-field {
    height: 100px;
    resize: none;
}

.fake-placeholder {
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 10px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s;
}
.fake-placeholder.active {
    color: #ed9626;
    font-size: 16px;
    font-weight: 700;
    top: -20px;
}

.error {
    font-size: 14px;
    color: var(--red);
}

.contacts-block {
    display: block;
    //justify-content: space-between;

    @media(min-width:1200px) {
        display: flex;
        justify-content: space-between;
    }
}

.info {
    width: 290px;
    margin-bottom: 47px;

    @media(min-width:1200px) {
        width: 555px;
        margin-bottom: 0;
    }
}

.info__text {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;

    @media(min-width:1200px) {
        font-size: 20px;
        margin-bottom: 40px;
    }
}

.info__contacts-head {
    font-size: 20px;
    font-weight: 700;
}

.info__contacts-content {
    margin-left: 94px;
    font-size: 20px;
    font-weight: 300;

    li {
        line-height: 1.5;
    }
}

.contacts__form {
    margin-bottom: 130px;
    padding: 0;
    width: 290px;
    box-shadow: -15px -15px 30px color("#dfecf3");

    @media(min-width:1200px) {
        width: 510px;
        padding: 60px 45px;
    }
}

.info__contacts {
    display: none;
    //justify-content: space-between;

    @media(min-width:1200px) {
        margin-bottom: 44px;
        display: flex;
    }
}

.info__contacts-icons {
    display: flex;
    justify-content: space-between;
    width: 290px;

    @media(min-width:1200px) {
        width: 300px;
    }
}

.info__contacts-mobile {
    display: block;
    margin-bottom: 35px;

    @media(min-width:1200px) {
        display: none;
    }
}

.info__mobile-section {
    margin-bottom: 17px;
    font-size: 18px;
}

.mobile-head {
    font-weight: 700;
}

.br {
    display: none;

    @media(min-width:1200px) {
        display: block;
    }
}